WRONGPW RCDATA "wrongpw.WAV"
WHOOSH RCDATA "whoosh.WAV"
BLING RCDATA "bling.WAV"
CLICK RCDATA "click.WAV"

WEBVIEWLOADER RCDATA "WebView2Loader_x64.dll"
SSLEAY32 RCDATA "ssleay32.dll"
LIBEAY32 RCDATA "libeay32.dll"