WaffenbestandHtmlHeader TXT waffenbestand_html_header.txt
WaffenbestandSiteHeader TXT waffenbestand_site_header.txt
WaffenbestandContent TXT waffenbestand_content.txt
WaffenbestandHtmlFooter TXT waffenbestand_html_footer.txt
WaffenbestandSiteFooter TXT waffenbestand_site_footer.txt