WRONGPW RCDATA "Resourcen\wrongpw.WAV"
WHOOSH RCDATA "Resourcen\whoosh.WAV"
BLING RCDATA "Resourcen\bling.WAV"
CLICK RCDATA "Resourcen\click.WAV"
WEBVIEWLOADER RCDATA "Resourcen\WebView2Loader_x64.dll"
SSLEAY32 RCDATA "Resourcen\ssleay32.dll"
LIBEAY32 RCDATA "Resourcen\libeay32.dll"
LOGINCLOSED RCDATA "Resourcen\Schloss_Zu_256.png"
LOGINOPENED RCDATA "Resourcen\Schloss_Offen_256.png"